<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <button class="btn btn-info btn-service" type="submit">search</button>
</form>